<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665751579789-8rqnil9bc36kvkov3fkbmfg4lfholoht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665751579789-8rqnil9bc36kvkov3fkbmfg4lfholoht</string>
	<key>API_KEY</key>
	<string>AIzaSyBBEjBtu4KSVf6k-91_P5bFfuoIkwoXUtw</string>
	<key>GCM_SENDER_ID</key>
	<string>665751579789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shs.immediateconnectapp</string>
	<key>PROJECT_ID</key>
	<string>shri-satya-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>shri-satya-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:665751579789:ios:372dc52b5fe9fe080e46c4</string>
</dict>
</plist>
